.idea
*.dot
*.pdf
*.sdd
*.txt
*.cnf
*.nnf
*.png
build
.DS_Store
.vscode
__pycache__
cmake-build-debug
.venv
tmp
data

# LaTeX intermediates
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
/uv.lock
